* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  position: relative;
  min-height: 100vh;
}

.wrapper {
  padding-bottom: 50px;
}

.navbar,
.footer {
  display: flex;
  justify-content: space-around;
  background-color: green;
}

.navbar {
  align-items: center;
  border-bottom: 5px solid white;
}

.navbar-image {
  margin-left: 20px;
}

.navbar-image img {
  border-radius: 50%;
  max-height: 100px;
  border: 3px solid white;
}

.navbar-right {
  display: flex;
  align-items: baseline;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.navbar-right a,
.dropdown-content a,
.portfolio-section a {
  color: white;
  text-decoration: none;
}

.navbar-right a,
.dropdown-menu,
.link-icon {
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-right a:hover,
.dropdown-menu:hover,
.link-icon a:hover {
  color: black;
}

.dropdown-menu:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  background-color: green;
  color: white;
}

.dropdown-button {
  display: flex;
  background-color: inherit;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

.dropdown-content {
  display: none;
  position: fixed;
  max-width: 132px;
  border: 3px solid black;
}

.dropdown-content a {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}

.banner-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner h1 {
  font-size: 150px;
  color: green;
  -webkit-text-stroke: 3px white;
}

.banner h2 {
  font-size: 80px;
  -webkit-text-stroke: 3px green;
}

.about-section,
.portfolio-section,
.contact-section,
.freelancing-section,
.not-found-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section h2,
.portfolio-section h2,
.contact-section h2,
.freelancing-section h2 {
  font-size: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-text-stroke: 3px green;
}

.about {
  display: flex;
  text-align: center;
  font-size: 24px;
}

.aboutimg {
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.aboutimg img {
  max-height: 400px;
  border: 5px solid green;
}

.aboutme {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 120px;
}

.aboutme h3 {
  font-size: 36px;
}

.portfolio-section a {
  font-weight: bold;
  font-size: 22px;
}

.portfolio-row,
.freelancing-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px;
  height: 485px;
  width: 350px;
}

.portfolio-item h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.portfolio-section a:hover,
.portfolio-item a:hover,
.contact-info a:hover {
  color: green;
}

.portfolio-item img {
  height: 225px;
  width: 300px;
  border: 5px solid green;
  border-radius: 10px;
  overflow: hidden;
}

.contact-section {
  text-align: center;
  font-size: 18px;
}

.contact-form {
  width: 500px;
}

.contact-form Form {
  background-color: white;
  border: 5px solid green;
  border-radius: 10px;
  padding: 20px;
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  margin-top: 100px;
}

.freelancing-item-wide {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: green;
  border: 5px solid white;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  width: 1070px;
  margin-bottom: 10px;
}

.freelancing-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: green;
  border: 5px solid white;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
  width: 350px;
}

.freelancing-item-tail {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  width: 1070px;
  margin-bottom: 50px;
}

.wide-content {
  margin-top: 5px;
  margin-bottom: 5px;
}

.free-content-one {
  margin-bottom: 32px;
}

.free-content-two {
  margin-bottom: 10px;
}

.free-content-three {
  margin-bottom: 55px;
}

.wide-content p,
.free-content-one p,
.free-content-two p,
.free-content-three p {
  font-size: 16px;
  font-weight: bold;
}

.wide-price,
.price {
  margin-top: 0px;
}

.wide-price h3,
.price h3 {
  font-size: 24px;
}

.not-found-section h1 {
  font-size: 150px;
  color: green;
  -webkit-text-stroke: 3px white;
  margin-top: 75px;
}

.not-found-section h2 {
  font-size: 80px;
  -webkit-text-stroke: 3px green;
}

.not-found-section h3 {
  font-size: 36px;
  color: green;
}

.not-found-section h4 {
  font-size: 24px;
}

.not-found-section h5 {
  font-size: 18px;
  color: green;
}

.footer {
  position: absolute;
  font-weight: bold;
  height: 50px;
  bottom: 0;
  width: 100%;
}

.copyright,
.socials {
  display: flex;
  align-items: center;
}

.copyright {
  font-size: 14px;
}

.contact-info a,
.link-icon a {
  color: white;
}

@media screen and (max-width: 992px) {
  .banner-section {
    height: 60vh;
  }

  .banner {
    text-align: center;
  }

  .banner h1 {
    font-size: 130px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    width: 100%;
    padding-bottom: 10px;
  }

  .navbar-image {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .navbar-right {
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .navbar-right a {
    margin: 5px;
  }

  .navbar-right a:hover,
  .dropdown-menu:hover,
  .link-icon a:hover {
    color: white;
  }

  .banner-section {
    height: 50vh;
  }

  .banner h1 {
    font-size: 50px;
    -webkit-text-stroke: 1px white;
    text-align: center;
  }

  .banner h2 {
    font-size: 30px;
    -webkit-text-stroke: 0px green;
    text-align: center;
  }

  .about-section,
  .portfolio-section,
  .contact-section,
  .not-found-section {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .about-section h2,
  .portfolio-section h2,
  .contact-section h2 {
    font-size: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-text-stroke: 2px green;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .aboutimg {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .aboutimg img {
    max-height: 300px;
    border: 5px solid green;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .aboutme {
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .aboutme h3 {
    font-size: 30px;
  }

  .portfolio-section {
    margin-bottom: 40px;
  }

  .portfolio-row {
    margin-bottom: 10px;
  }

  .portfolio-item {
    font-size: 15px;
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
    padding-bottom: 10px;
  }

  .contact-section {
    text-align: center;
    font-size: 18px;
  }

  .contact-form {
    width: 90%;
  }

  .contact-form Form {
    background-color: white;
    border: 5px solid green;
    border-radius: 10px;
    padding: 20px;
  }

  .contact-info {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    font-size: 10px;
    padding: 5px;
  }

  .copyright,
  .socials {
    margin: 5px;
  }
}

@media screen and (max-width: 576px) {
  .banner-section {
    height: 50vh;
  }

  .about-section {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .aboutimg {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .aboutimg img {
    max-height: 250px;
    border: 5px solid green;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .contact-info {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
